.hidden {
  display: none;
}

$main-black: #0f0805;
$main-vd-blue: #0d1321;
$main-d-blue: #1d2d44;
$main-blue: #3e5c76;
$main-l-blue: #748cab;
$main-l-grey: #f0ebd8;
$main-green: #306b34;
$main-red: #d62828;
$main-l-yellow: #e1ce7a;
$main-white: #f5f5f5;
